* {
    padding: 0;
    margin: 0;
}
body,html {
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex: 1;
    max-width: 1250px;
}
.master {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}
.header {
    align-self: flex-start;
    width: 100%;
    min-height: 100px;

    // background-color: turquoise;
}
.container {
    display: flex;
    flex: 1;
    width: 100%;
    // min-height: 200px;
    // background-color: yellowgreen;
}
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    &__wrapper {
        position: relative;
        width: 36.76470588235294%;
        padding-top: 36.76470588235294%;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        width: 100%;
        top: 0;
        left: -100%;
        transition: all 0.3s ease;

        &--layout {
            position: relative;
            padding-top: 100%;
            background-color: tan;
        }

        &--link {
            text-decoration: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            & > img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        }
    
    &__position {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 30px;
        bottom: 15px;

        &--wrapper {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0 5px;
        }

        &--here {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #bbbbbb;
            cursor: pointer;
        }

        &--not-here {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            border:2px solid #bbbbbb;
            box-sizing: border-box;
        }

        &--empty {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

    }
}
#img-1 {
    left: 0;
}
#pos-img1 > .carousel__position--here {
    opacity: 1;
}

.footer {
    width: 100%;
    min-height: 150px;
    // background-color: tan;
}